<div id="search_Home" class="search">
	<input id="inptSearch_Home" class="inptSearch" placeholder="Search"></input>
	
</div>
<div id="pagetitle_Home" class="pagetitle">
	<span class="pagetext">Browse Subjects</span>
</div>
<div id="contentlist_Home" class="contentlist">
	<ul>
	

	<% @subjects = Subject.order("name") %>
	<% @subjects.each do |subject| %>
    	<li>
    	<span class="subjecttitle"><%= link_to subject.name, subject %></span>
    	<span class="subjectlinks"><%= subject.resources.size %> Resources </span>
    	</li>
    <% end %>
    </ul>
</div>
